# Since Ansible 2.12 (core):
# To generate an example config file (a "disabled" one with all default settings, commented out):
#               $ ansible-config init --disabled > ansible.cfg
#
# Also you can now have a more complete file by including existing plugins:
# ansible-config init --disabled -t all > ansible.cfg

# For previous versions of Ansible you can check for examples in the 'stable' branches of each version
# Note that this file was always incomplete  and lagging changes to configuration settings

# for example, for 2.9: https://github.com/ansible/ansible/blob/stable-2.9/examples/ansible.cfg
#collections_path = ./collections
#collections_path = /var/lib/awx/.ansible/collections
[defaults]
COLLECTIONS_PATHS = ./collections
collection_path = ./collections
[galaxy]
server_list = my_org_hub


#[galaxy_server.automation_hub]
#url=https://cloud.redhat.com/api/automation-hub/api/galaxy/  
#auth_url=https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
#
#token=eyJhbGciOiJIUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJhZDUyMjdhMy1iY2ZkLTRjZjAtYTdiNi0zOTk4MzVhMDg1NjYifQ.eyJpYXQiOjE2NTA0NDU0NDQsImp0aSI6ImNkMTcwYmNiLWFlMDctNDcyNS05MjcwLTMzY2RhMzRjYmE3YiIsImlzcyI6Imh0dHBzOi8vc3NvLnJlZGhhdC5jb20vYXV0aC9yZWFsbXMvcmVkaGF0LWV4dGVybmFsIiwiYXVkIjoiaHR0cHM6Ly9zc28ucmVkaGF0LmNvbS9hdXRoL3JlYWxtcy9yZWRoYXQtZXh0ZXJuYWwiLCJzdWIiOiJmOjUyOGQ3NmZmLWY3MDgtNDNlZC04Y2Q1LWZlMTZmNGZlMGNlNjpvc3Bsc2ciLCJ0eXAiOiJPZmZsaW5lIiwiYXpwIjoiY2xvdWQtc2VydmljZXMiLCJub25jZSI6ImU4NDA2YzNhLWYxZjYtNGVjMi04MTE5LTlhZTUzNGUyZjk2YiIsInNlc3Npb25fc3RhdGUiOiI0MWRiYzA1MC02MzI5LTQ3ZjktYjEzYy1iZDU2NWRhZTYwZjgiLCJzY29wZSI6Im9wZW5pZCBvZmZsaW5lX2FjY2VzcyIsInNpZCI6IjQxZGJjMDUwLTYzMjktNDdmOS1iMTNjLWJkNTY1ZGFlNjBmOCJ9.1x5XEWrx7jjFaR22aOQcw-Oy4tz51OAE0WzZwc2fpik
#
#[galaxy_server.my_org_hub-published]
##url=https://aah1.ravi.local/api/galaxy/content/published/
#url=https://aah1.ravi.local/
#username=admin
#password=password
##token=a0b6fe53931f3b0c3b8668f3442d253f77ccd9b8
##validate_certs=no
#[galaxy_server.my_org_hub-community]
#url=https://aah1.ravi.local/api/galaxy/content/community/
#username=admin
#password=password
#
#[galaxy_server.galaxy]
#url=https://galaxy.ansible.com/
#token=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
[galaxy_server.my_org_hub]
url=https://aah1.ravi.local/api/galaxy/ 
#username=admin
#password=password
token=57a94c03ea872ac7fc5a0c554f3e1d508f3c492d
